<style type="text/css">
    .modal-backdrop {
        z-index: -1;
    }
</style>
<rate-alert></rate-alert>
<div class="container">
    <div class="page-header">
        <h2>Valora a {{rateDetailCtrl.person.nick}}</h2>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div style="text-align: center;">
                        <h2>{{rateDetailCtrl.person.nick}}</h2>
                        <img class="img-circle" ng-src="{{rateDetailCtrl.person.profileImg}}" alt="Generic placeholder image" width="140" height="140">
                        <p>{{rateDetailCtrl.person.job}}</p>
                        <a href="#/people" class="btn btn-primary">Volver a personajes</a>
                        <button type="button" class="btn btn-primary" ng-click="rateDetailCtrl.openReview()">Añadir valoración</button>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="rateDetailCtrl.cancelReview()">&times;</button>
                                    <h4 class="modal-title">Añadir valoración</h4>
                                </div>
                                <div class="modal-body">
                                    <form name="reviewForm" ng-submit="rateDetailCtrl.addReview()">
                                        <h3>Vista Previa</h3>
                                        <blockqoute>
                                            <b>Valoración: 
                                              <input id="input-star-readonly" class="rating" data-min="0" data-max="5" data-step="1" data-show-caption="false" data-readonly="true" data-show-clear="false"></b>
                                            <b>Comentario:</b>
                                            <br /> {{rateDetailCtrl.review.description}}
                                            <br/>
                                        </blockqoute>
                                        <h3>Edit</h3>
                                        <blockqoute>
                                            <b>Valoración:
                                              <input id="input-star-edit" class="rating" data-min="0" data-max="5" data-step="1" data-show-caption="false"></b>
                                            <b>Comentario: </b>
                                            <br />
                                            <textarea ng-model="rateDetailCtrl.review.description" class="form-control"></textarea>
                                            <div class="modal-footer">
                                                <input type="submit" class="btn btn-primary" value="Save Review" />
                                                <input type="button" class="btn btn-default" value="Cancel" ng-click="rateDetailCtrl.cancelReview()" data-dismiss="modal" />
                                            </div>
                                        </blockqoute>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <b ng-hide="rateDetailCtrl.hasReviews()">No hay ninguna valoración</b>
                    <blockquote ng-repeat="revw in rateDetailCtrl.reviews">
                        <b>Valoración: 
                              <input input-star id="input-star-readonly-{{revw._id}}" class="rating rating-list" data-min="0" data-max="5" data-step="1" data-show-caption="false" data-readonly="true" data-show-clear="false" data-size="xs"></b>
                        <b>Comentario:</b>
                        <br /> {{revw.description}}
                        <br/>
                        <b>Creado en:</b>
                        <br /> {{revw.createDate | date:'yyyy-MM-dd HH:mm:ss Z'}}
                        <br/>
                        <button type="button" id="{{revw._id}}" class="btn btn-default" ng-click="rateDetailCtrl.deleteReview()">Borrar valoración</button>
                    </blockquote>
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>
